*.pyc
*~
*mako.py
.sconsign.dblite
*.so
*.os
*_wrap.cc
*_wrap.os
tile*png
*gpx
anim/*avi
/aipdata.cache
output.png
./test.png
/data
/development.db
aipdata*cache*
Pyro_NS_URI
/notams
/fplanquick/fplanquick.py


